<div class="topnav">
    <image src="./images/logo.jpg" alt="Bike-share"/>
    <h1>BikeShare.today</h1>
    <div class="topnav-b">
    <button><a href="/login">Login</a></button>
    <button><a href="/users">Signup</a></button>
  </div>
</div>    

