
<form action="/users" method="POST" id="form">
  <h2>Signup</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  <label for="email">Email</label>
  <input type="email" name="email">

  <label for="address">Address</label>
  <input type="test" name="address">

  <label for="contact">Contact</label>
  <input type="number" name="contact">

  <label for="zip_code">Zip_code</label>
  <input type="number" name="zip_code">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Create Account</button>
</form>



  