* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Concert One", cursive;
}

nav {
  z-index: 2;
  position: fixed !important;
  width: 100%;
  top: 0;
}

.badge {
  position: absolute;
  width: 64px;
  height: 20px;
}

.badge-warning {
  right: 0;
}

.container {
  padding-top: 72px;
}

.navbar-brand img {
  width: 48px;
}

#myVideo {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 33%;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.content input[type="search"] {
  max-width: 75%;
}

.profile-card {
  flex-direction: row;
}

.profile-card .card-img-top {
  width: 20%;
}

.profile-card .list-group {
  width: 100%;
}

.profile-card .card-bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.bike-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.bike-card {
  width: 31%;
}

@media only screen and (max-width: 600px) {
  .bike-card {
    width: 100%;
  }
}

.bike-card img {
  height: 250px;
}
